html, body, #root {
    height: 100%;
}

.App {
    height: 100%;
}

.landing-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.room-page, .player-page  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

