
/*
    Set color variables
*/

$input-color: #c4c4c4;
$input-color-hover: #f4f2f1;


/* ----------------------------- */


html { box-sizing: border-box; } 

* {box-sizing:border-box !important;}


html, body, #root {
    height: 100%;
}

.App {
    height: 100%;
}

.landing-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.room-page, .player-page  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

input {
    display: inline-block;
    border: none;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background: $input-color;
    padding: 1rem 2rem;
    margin: 0;
    color: black;
    border: 1px solid black;
}


input[type = button]:hover {
    background: $input-color-hover;
}